extends layout

block content
  // section: About Us
  .section-only.background-dark.dark-bg
    .container
      .row
        .col-md-12.text-center
          h2.section-title#about About Us
          p.section-description We are a team of undergraduate CS students from Brandeis University.
        .col-md-3
          .service-block.text-center
            a(href="https://github.com/chungek" title="EK's git" target="_blank")
              img.img-responsive.profile(src="images/ekpretty.png" alt="")
            h3.text-uppercase.font-size-md.letter-spacing-md.font-weight-lg Ek Kheng Chung
            address
              strong Brandeis University
              br
              | 						 	415 South St
              br
              | 						 	Waltham, MA 02453
              br
              abbr(title="Phone") Mobile:
              |  (123) 456-7890
              br
              a(href="mailto:#") chungek@brandeis.edu
            a.btn.btn-sm.btn-primary(href="https://github.com/chungek" title="EK's git" target="_blank") .git
        .col-md-4.col-md-offset-1
          .service-block.text-center
            a(href="https://github.com/jenn14108" title="Jenn's git" target="_blank")
              img.img-responsive.profile(src="images/jennpretty.png" alt="")
            h3.text-uppercase.font-size-md.letter-spacing-md.font-weight-lg Jenn Bear Lee
            address
              strong Brandeis University
              br
              | 						 	415 South St
              br
              | 						 	Waltham, MA 02453
              br
              abbr(title="Phone") Mobile:
              |  (123) 456-7890
              br
              a(href="mailto:#") jelee14108@brandeis.edu
            a.btn.btn-sm.btn-primary(href="https://github.com/jenn14108" title="Jenn's git" target="_blank") .git
        .col-md-4
          .service-block.text-center
            a(href="https://github.com/casperlk" title="Casper's git" target="_blank")
              img.img-responsive.profile(src="images/casperpretty.png" alt="")
            h3.text-uppercase.font-size-md.letter-spacing-md.font-weight-lg Casper L'Esperance-Kerckhoff
            address
              strong Brandeis University
              br
              | 						 	415 South St
              br
              | 						 	Waltham, MA 02453
              br
              abbr(title="Phone") Mobile:
              |  (123) 456-7890
              br
              a(href="mailto:#") casperlk@brandeis.edu
            a.btn.btn-sm.btn-primary(href="https://github.com/casperlk" title="Casper's git" target="_blank") .git
