extends layout

block extraHead
  script(src='/javascripts/resSuccessMessage.js')


block content
  //-section:Reserve
  .section-only
    .container
      .row
        .col-md-12.text-center
          h2.section-title Hello, BranVan driver
          p.section-description This page allows you to find all the reservations made for your van for a specific run.
        .col-md-8.col-md-offset-2
          .row
            form#resform.form(method="post" role="form" action="findReservations")
              .col-md-6.form-group
                p Van Type:
                select.form-control#vantype(name="vanType" placeholder="Select your Van")
                  option Select a van
                  option(value="2010") Campus BranVan (Weekdays)
                  option(value="2011") Campus BranVan (Weekends)
                  option(value="3010") Evening Waltham Branvan
              .col-md-6.form-group
                p Run Time:
                select.form-control#time(name="time" placeholder="Select the time for the run")
                  option Select a time
              .row
              br
              .row
                .col-md-12.form-group.text-center
                  button.btn.btn-primary(name='retrieve-res') Retrieve Reservations
        .col-md-12.text-center
          .row
            if reservations
              if reservations.length >= 1
                table.table.table-dark
                  thead
                    tr
                      th(scope="col") Name
                      th(scope="col") From
                      th(scope="col") To
                      th(scope="col") # Passengers
                  tbody
                    each res in reservations
                      tr
                        th(scope="row") #{res.name}
                        th(scope="row") #{res.from}
                        th(scope="row") #{res.to}
                        th(scope="row") #{res.num_people}
              else if reservations.length == 0
                table.table.table-dark
                  thead
                    tr
                      th(scope="col") There are no current reservations



  script(type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(type="text/javascript").
    $("#vantype").change(function() {

      var $dropdown = $(this);
      var key = $dropdown.val();

      $.ajax({
        url: '/getRouteInfo',
        type: "POST",
        data: {
          vanType: key
        },
        dataType: 'json',
        success: function(data) {
          var $time = $("#time");
          $("#time option").remove();
          $('<option>Select a time</option>').appendTo("#time")
          for (var i = 0; i < data.data[0].times.length; i++) {
            var raw_time = new Date(Date.parse(data.data[0].times[i]))
            var hours = raw_time.getUTCHours()
            var mins = raw_time.getUTCMinutes()
            var ampm = "AM"
            var h = hours
            if (h >= 12) {h = hours - 12, ampm = "PM"}
            if (h == 0) {h = 12}
            if (mins - 9 <= 0) {mins = "0" + mins}
            var nice_time = h + ":" + mins + " " + ampm
            $('<option value="' + nice_time + '">' + nice_time + '</option>').appendTo("#time")
          }
        },
        error: function(err) {
        }
      })
    });
