extends layout

block content
  script(type='text/javascript').
    (function(d, m){
    var o = {"appId":"3579b0d4ffc634768095a289c5c4b6eec","isAnonymousChat":true, "chatLauncherHtml": "<img id='Bot' src='../images/bot.png'/>",
    "agentId":"jenekcasper@gmail.com","agentName":"Deis Transport App Support","conversationTitle":"Deis Transport App Support","email":""};
    var s = document.createElement("script"); s.type = "text/javascript"; s.async = true;
    s.src = "https://api.kommunicate.io/kommunicate.app";
    var h = document.getElementsByTagName("head")[0]; h.appendChild(s);
    window.kommunicate = m; m._globals = o;
    })(document, window.kommunicate || {});
  link(rel='stylesheet', href='/stylesheets/addtohomescreen.css')
  script(src='/javascripts/addtohomescreen.js')
  //section:Mainpage
  .section.hero.text-center.background-dark.dark-bg
    .background-image(style="background: url(images/buspic.jpg) no-repeat center center; background-size: cover; opacity: .2;")
    .container
      .row
        .col-md-12
          h2 Deis Transport App
          p.lead.center
            | Your one-stop destination for all things Brandeis transportation related
          ul.list-inline
           li
             a.btn.btn-md.btn-primary(href="#" title="VUI") Voice User Interface
           li
             a#bookmark-this.btn.btn-md.btn-primary(href="#" title="Web app") Bookmark Our Web App
  //section:Services
  .section
  .container
    .row
      .col-md-12.text-center
        h2.section-title Our Services
        p.section-description Optimize your branvan user experience with our various streamlined features
      .col-md-4
        .entry
          .entry-media
            a(href="/reserve" title="")
              span.absolute-wrapper
              img.img-responsive(src="images/booking.jpg" alt="")
          h3.entry-title
            a(href="/reserve" title="TITLE") Reserve
          p
            | Make a reservation on any of the running BranVans.
          a.btn.read-more.btn-sm.btn-primary(href="#" title="Reserve Now")
        // /.entry
      .col-md-4
        .entry
          .entry-media
            a(href="/tracker" title="")
              span.absolute-wrapper
              img.img-responsive(src="images/track.jpg" alt="")
          h3.entry-title
            a(href="/tracker" title="HIHI") Tracker
          p
            | Track any running BranVan you desire.
          a.btn.read-more.btn-sm.btn-primary(href="#" title="Track Now")
        // /.entry
      .col-md-4
        .entry
          .entry-media
            a(href="/schedules" title="")
              span.absolute-wrapper
              img.img-responsive(src="images/schedule.jpg" alt="")
          h3.entry-title
            a(href="/schedules" title="This is a title") Schedules
          p
            | Take a look at the schedules of all Brandeis shuttles.
          a.btn.read-more.btn-sm.btn-primary(href="#" title="View The Schedule")
  //section:quote
  .section.hero.text-center.background-dark.dark-bg
    .background-image(style="background: url(images/buspic.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;")
    .container
      .row
        .col-md-12
          h3.text-uppercase.letter-spacing-md.font-weight-lg.margin-zero "When people want transportation, they want it now."
          p
            | -Logan Green
  // /.section
  // START SECTION
  .section
    .container
      .row
        .col-md-12.text-center
          h2.section-title Contact Us
          p.section-description Please do
        .col-md-8.col-md-offset-2
          .alert.alert-success(style="display:none")
            strong
            | Email successfully sent.
          form#gform.form(method='POST' action='https://script.google.com/macros/s/AKfycbwxHNVG7fV6mt8kyPAFaMtLvXSElLEHuLQAANafq-nw8p5EPl43/exec')
            .row
              .col-md-6.form-group
                input#name.form-control(name="name" placeholder="Name" type="text" required="")
              .col-md-6.form-group
                input#email.form-control(name="email" placeholder="Email" type="email" required="")
            textarea#message.form-control(name="message" placeholder="Message" rows="5")
            br
            .row
              .col-md-12.form-group
                button.btn.btn-primary.form-submit Submit
  // section:Quote
  .section.hero.text-center.background-dark.dark-bg
    .background-image(style="background: url(images/buspic.jpg) no-repeat fixed center center; background-size: cover; opacity: .2;")
    .container
      .row
        .col-md-12
          h3.text-uppercase.letter-spacing-md.font-weight-lg.margin-zero "This is the beginning, and the dawn of a new era of transportation."
          p
            | -Shervin Pishevar
  i.fas.fa-chevron-circle-up#myBtn(onclick="topFunction()" title="Back to top")
  script(src="/javascripts/formHandler.js")
  //- jQuery
  script(src="//code.jquery.com/jquery.js")
    //- bootstrap
  script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
  script(type="text/javascript").
    /*When the user scrolls down 20px from the top of the document, show the button*/
    window.onscroll = function() {scrollFunction()};
    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
      } else {
          document.getElementById("myBtn").style.display = "none";
      }
    }
    jQuery(function($) {
      $('#bookmark-this').click(function(e) {
        var bookmarkURL = window.location.href;
        var bookmarkTitle = document.title;

        if ('addToHomescreen' in window && addToHomescreen.isCompatible) {
          // Mobile browsers
          addToHomescreen({ autostart: false, startDelay: 0 }).show(true);
        } else if (window.sidebar && window.sidebar.addPanel) {
          // Firefox <=22
          window.sidebar.addPanel(bookmarkTitle, bookmarkURL, '');
        } else if ((window.sidebar && /Firefox/i.test(navigator.userAgent)) || (window.opera && window.print)) {
          // Firefox 23+ and Opera <=14
          $(this).attr({
            href: bookmarkURL,
            title: bookmarkTitle,
            rel: 'sidebar'
          }).off(e);
          return true;
        } else if (window.external && ('AddFavorite' in window.external)) {
          // IE Favorites
          window.external.AddFavorite(bookmarkURL, bookmarkTitle);
        } else {
          // Other browsers (mainly WebKit & Blink - Safari, Chrome, Opera 15+)
          alert('Press ' + (/Mac/i.test(navigator.userAgent) ? 'Cmd' : 'Ctrl') + '+D to bookmark this page.');
        }
        return false;
      });
    });
    /*When the user clicks on the button, scroll to the top of the document*/
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
