doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Deis Transport App
    script(src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous")
    //- css and fonts
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
    link(href="stylesheets/style.css" rel="stylesheet" type="text/css")

    block extraHead

  body
    //-section:navbar
    nav.navbar.navbar-default(role="navigation")
      .container
        //-toggle
        .navbar-header
          button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-ex1-collapse")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href="/") Deis Transport App
        //- navbar
        .collapse.navbar-collapse.navbar-ex1-collapse
            ul.nav.navbar-nav.navbar-right
              li
                a(href="/drivers") Drivers
              li
                a(href="/reserve") Reserve
              li
                a(href="/tracker") Tracker
              li
                a(href="/schedules") Schedules
              li
                a(href="/about") About
              li
                if loggedIn
                  a.btn.btn-md.btn-primary(typ='button' href="/logout") Log Out
                else
                  a.btn.btn-md.btn-primary(type='button' href="/login") Log In
           
    block content

    //-section:Footer
    .section-foot.background-dark.dark-bg
      .container
        .row
          .col-md-12.text-center
          .col-md-12.margin-top-md.text-center.font-size-sm.text-upercase
              p
                | Made by: {
                a(href="https://github.com/chungek" title="EK" target="_blank")
                  strong  Ek Kheng Chung.git
                | x
                a(href="https://github.com/jenn14108" title="Jenn" target="_blank")
                  strong Jenn Bear Lee.git
                | x
                a(href="https://github.com/casperlk" title="Caspino" target="_blank")
                  strong Casper L'Esperance-Kerckhoff.git }
                |
