doctype html
html(lang="")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Deis Transport App
    // css and fonts
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous")
    link(href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet" type="text/css")
    link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous")
    link(href="stylesheets/style.css" rel="stylesheet" type="text/css")
  block content

  block foot
    .col-md-12.margin-top-md.margin-bottom-md(style="opacity: .2;")
      hr
    .col-md-12.margin-top-md.text-center.font-size-sm.text-upercase
        p
          | Made by: {
          a(href="https://github.com/chungek" title="EK" target="_blank")
            strong  Ek Kheng Chung.git
          | x
          a(href="https://github.com/jenn14108" title="Jenn" target="_blank")
            strong  Jenn Bear Lee.git
          | x
          a(href="https://github.com/casperlk" title="Caspino" target="_blank")
            strong Casper L'Esperance-Kerckhoff.git }
          |
