extends layout

block content
  .jumbotron
    h1 Login to DeisTransportApp
    p You must have a gmail account to log in

    a.btn.btn-danger(href="/auth/google")
      span.fa.fa-google-plus  Sign In
