extends layout

block content
  .section
    .container
      .row.text-center
        h2.section-title Log In
          p.section-description You must have a Brandeis account to log in
        .col-md-12

          a.btn.btn-danger(href="/auth/google")
            span.fa.fa-google-plus  Sign In
