extends layout

block content
  //-section:Reserve
  .section
    .container
      .row.text-center
        h2.section-title Reserve
        p.section-description Reserve a spot on a van or shuttle ahead of time.
        p.section-description FORM COMING SOON.
