extends layout

block content
  //-section:Reserve
  .section
  .container
    .row
      .col-md-12.text-center
        h2.section-title Reserve
        p.section-description Reserve a spot on a van or shuttle ahead of time.
      .col-md-12
        form#resform.form(method="post" role="form" action="addReservation")
          .row
            .col-md-3.form-group
              p Van Type:
              select.form-control#vantype(name="vanType" placeholder="Select a Van")
                option Select a van
                option(value="2010") Campus BranVan (Weekdays)
                option(value="2011") Campus BranVan (Weekends)
                option(value="3010") Evening Waltham Branvan
            .col-md-3.form-group
              p From:
              select.form-control#from(name="stopFrom" placeholder="Select a stop")
                option Select a stop
            .col-md-3.form-group
              p To:
              select.form-control#to(name="stopTo" placeholder="Select a stop")
                option Select a stop
            .col-md-3.form-group
              p Pick up time:
              select.form-control#time(name="time" placeholder="Select a time")
                option Select a time
            br
            .row
              .col-md-12.form-group.text-center
                button.btn.btn-primary(type="submit" value="submit") Reserve








  script(type="text/javascript" language="javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
  script(type="text/javascript").
    $("#vantype").change(function() {

      var $dropdown = $(this);
      var key = $dropdown.val();
      var whichRoute = "";

      //for brandeis
      if (key == "2010" || key == "2011") {
        whichRoute = "/JSON_Schedules/campusVanSchedule.json"
      } else if (key == "3010") {
        whichRoute = "/JSON_Schedules/EveningWalthamVanSchedule.json"
      }

      var vals = [];

      $(document).ready(function(e) {
        $.getJSON( whichRoute , function( data ){
          for (var i = 0; i < data.length; i++) {
            vals[i] = data[i].stop
            }

            var $from = $("#from");
            var $to = $("#to");
            $("#from option").remove();
            $("#to option").remove();
            $('<option>Select a stop</option>').appendTo("#from")
            $('<option>Select a stop</option>').appendTo("#to")
            for (var j = 0; j < vals.length; j++) {
              console.log(vals[j])
              $('<option value="' + vals[j] + '">' + vals[j] + '</option>').appendTo("#from")
              $('<option value="' + vals[j] + '">' + vals[j] + '</option>').appendTo("#to")
              }
        });
      });
    });

  
