extends layout

block extraHead
  script(defer='' src='/javascripts/locateUser.js')
  script(defer='' src="//maps.googleapis.com/maps/api/js?key="+ googlemapskey + "&callback=initMap")

block content
  //-section:schedules
  .section
    .container
      .row
        .col-md-12.text-center
          h2.section-title Schedules
          p.section-description This page allows you view schedules of the various shuttles provided by Brandeis.
        .col-md-8.col-md-offset-2
          form#schdl.form(method="post" role="form" action="getSchedule")
            .row
              .col-md-9.form-group
                select.form-control#van(name="schedule" placeholder="Select a van")
                  option Select a van
                  option(value="2010") Campus BranVan (Weekdays)
                  option(value="2011") Campus BranVan (Weekends)
                  option(value="2020") Daytime Campus Shuttle
                  option(value="3020") Daytime Waltham Shuttle
                  option(value="3010") Evening Waltham BranVan
                  option(value="1010") Boston/Cambridge Shuttle (Thurs)
                  option(value="1020") Boston/Cambridge Shuttle (Fri)
                  option(value="1030") Boston/Cambridge Shuttle (Sat)
                  option(value="1040") Boston/Cambridge Shuttle (Sun)
              .col-md-3.form-group
                button.btn.btn-primary(type="submit" value="submit") Get Schedules
        .col-md-12.text-center
          .row
            if data
              h2#disp.section-title #{name}
              table.table.table-dark
                thead
                  tr
                    th(scope="col") Stops
                    th(scope="col") Times
                tbody
                  each stop in data
                    tr
                      th(scope="row") #{stop.stop}
                      td
                        select.form-control#route(name="times" size="5" placeholder="Select a route")
                          each time in stop.times
                            - var raw_time = time
                            - var hours = raw_time.getUTCHours()
                            - var mins = raw_time.getUTCMinutes()
                            - var ampm = "AM"
                            - var h = hours
                            - if (h >= 12) {h = hours - 12, ampm = "PM"}
                            - if (h == 0) {h = 12}
                            - if (mins - 9 <= 0) {mins = "0" + mins}
                            - var nice_time = h + ":" + mins + " " + ampm
                            option #{nice_time}
  //-section:Location
  .section-notfirst
    .container.center
        .col-md-12.text-center
          h2.section-title Find a Stop
          p.section-description Don't know which schedule to look up? Locate the stops closest to you.
            .col-md-12.form-group.text-center
              button.btn.btn-primary(name='locate-button') Locate Stops
          div#map

  // back to top btn
  i.fas.fa-chevron-circle-up#myBtn(onclick="topFunction()" title="Back to top")
  script(type="text/javascript").
    /*auto scroll to table*/
    $( document ).ready(function() {
      if(!$('#disp')[0]) return;
      $('html, body').animate({
          scrollTop: ($('#disp').offset().top)
      },500);
    });

    /*back to top btn*/
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
      if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
          document.getElementById("myBtn").style.display = "block";
      } else {
          document.getElementById("myBtn").style.display = "none";
      }
    }

    /*When the user clicks on the button, scroll to the top of the document*/
    function topFunction() {
      document.body.scrollTop = 0; // For Safari
      document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
    }
