extends layoutBS

block content
  h1 Make a Reservation
  form(method="post" action="saveSkill")
    .formGroup
      label user name
      input(type="text" name="name")
    .formGroup
      label destination
      input(name="description")
    input(type="submit")
  hr
  h1 Reservations
  form(method="post" action="deleteSkill")
    ol
      each skill in skills
        li
          input(name="deleteName" value=skill.name type="checkbox")
          e #{skill.name} --
          i #{skill.description}      
    input(type="submit" value="Delete checked items")
    hr
