extends layout

block content
  .section-only
    iframe#chatbot(allow='microphone;', align='middle', width='350', height='430', src='https://console.dialogflow.com/api-client/demo/embedded/ca5ae115-7ca9-4e35-830c-43a8430e56a8')
